@font-face {
	font-family: 'FivoSans-Oblique';
    src: url('../fonts/subset-FivoSans-Oblique.eot');
    src: url('../fonts/subset-FivoSans-Oblique.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-FivoSans-Oblique.woff2') format('woff2'),
	url('../fonts/subset-FivoSans-Oblique.woff') format('woff'),
	url('../fonts/subset-FivoSans-Oblique.ttf') format('truetype'),
	url('../fonts/subset-FivoSans-Oblique.svg#FivoSans-Oblique') format('svg');
}

@font-face {
	font-family: 'FivoSans-Heavy';
    src: url('../fonts/subset-FivoSans-Heavy.eot');
    src: url('../fonts/subset-FivoSans-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-FivoSans-Heavy.woff2') format('woff2'),
	url('../fonts/subset-FivoSans-Heavy.woff') format('woff'),
	url('../fonts/subset-FivoSans-Heavy.ttf') format('truetype'),
	url('../fonts/subset-FivoSans-Heavy.svg#FivoSans-Heavy') format('svg');
}

@font-face {
	font-family: 'FivoSans-Bold';
    src: url('../fonts/subset-FivoSans-Bold.eot');
    src: url('../fonts/subset-FivoSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-FivoSans-Bold.woff2') format('woff2'),
	url('../fonts/subset-FivoSans-Bold.woff') format('woff'),
	url('../fonts/subset-FivoSans-Bold.ttf') format('truetype'),
	url('../fonts/subset-FivoSans-Bold.svg#FivoSans-Bold') format('svg');
}

@font-face {
	font-family: 'FivoSans-Light';
    src: url('../fonts/subset-FivoSans-Light.eot');
    src: url('../fonts/subset-FivoSans-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-FivoSans-Light.woff2') format('woff2'),
	url('../fonts/subset-FivoSans-Light.woff') format('woff'),
	url('../fonts/subset-FivoSans-Light.ttf') format('truetype'),
	url('../fonts/subset-FivoSans-Light.svg#FivoSans-Light') format('svg');
}

@font-face {
	font-family: 'FivoSans-Regular';
    src: url('../fonts/subset-FivoSans-Regular.eot');
    src: url('../fonts/subset-FivoSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-FivoSans-Regular.woff2') format('woff2'),
	url('../fonts/subset-FivoSans-Regular.woff') format('woff'),
	url('../fonts/subset-FivoSans-Regular.ttf') format('truetype'),
	url('../fonts/subset-FivoSans-Regular.svg#FivoSans-Regular') format('svg');
}

@font-face {
	font-family: 'FivoSansModern-Heavy';
    src: url('../fonts/subset-FivoSansModern-Heavy.eot');
    src: url('../fonts/subset-FivoSansModern-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-FivoSansModern-Heavy.woff2') format('woff2'),
	url('../fonts/subset-FivoSansModern-Heavy.woff') format('woff'),
	url('../fonts/subset-FivoSansModern-Heavy.ttf') format('truetype'),
	url('../fonts/subset-FivoSansModern-Heavy.svg#FivoSansModern-Heavy') format('svg');
}


